<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>MyFramework</servlet-name>
        <servlet-class>dev.framework.servlet.FrontController</servlet-class>
    </servlet>

    <!-- <servlet>
        <servlet-name>MyFramework</servlet-name>
        <servlet-class>dev.framework.servlet.FrontController</servlet-class>
        <init-param>
            <param-name>basePackage</param-name>
            <param-value>com.example</param-value>
        </init-param>
    </servlet> -->

    <servlet-mapping>
        <servlet-name>MyFramework</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    

</web-app>
