<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- Préfixe et suffixe des vues JSP -->
    <context-param>
        <param-name>view.prefix</param-name>
        <param-value>/WEB-INF/views/</param-value>
    </context-param>

    <context-param>
        <param-name>view.suffix</param-name>
        <param-value>.jsp</param-value>
    </context-param>

    <!-- Config du contexte Spring : classe Java annotée (pas de XML) -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>test.example2.config.AppConfig</param-value>
    </context-param>

    <!-- Charge le contexte Spring : DOIT être déclaré avant FrameworkContextListener,
         car ce dernier va le récupérer via WebApplicationContextUtils -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Listener du framework maison : scanne les routes (@Controller/@UrlMapping) -->
    <listener>
        <listener-class>dev.framework.listener.FrameworkContextListener</listener-class>
    </listener>

    <!-- Servlet principal -->
    <servlet>
        <servlet-name>MyFramework</servlet-name>
        <servlet-class>dev.framework.servlet.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyFramework</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
